In [1]:
# Paso 1: Importar las librer√≠as necesarias
import pandas as pd
import sqlite3
import os

In [7]:
# Paso 2: Definir la ruta del archivo CSV
csv_file_path = 'DS_Mediciones_Suelo.csv'  # Reemplaza con el nombre de tu archivo

# Verificar si el archivo existe
if not os.path.exists(csv_file_path):
    raise FileNotFoundError(f"El archivo '{csv_file_path}' no se encuentra en el directorio actual.")

In [8]:
# Paso 3: Cargar el CSV en un DataFrame
df = pd.read_csv(csv_file_path, sep=';')
print("Datos cargados desde el CSV:")
display(df.head())

Datos cargados desde el CSV:

,id,velocidad_viento_10m,presion_superficie,temp_suelo_7cm,humedad_suelo_7cm,temp_suelo_250cm
0,1,2.3,714.1,11.4,0.439,11.1
1,2,10.5,1009.4,29.3,0.410,26.8
2,3,3.3,893.0,21.2,0.427,22.2
3,4,6.0,715.7,12.9,0.431,11.1
4,5,3.4,1012.1,25.7,0.456,26.8

In [9]:
df.shape

(11794, 6)

In [10]:
# Paso 4: Conectar (o crear) la base de datos SQLite
db_path = 'BD_Mediciones_suelo.sqlite'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [14]:

# Paso 5: Especificar el nombre de la tabla a crear
nombre_tabla = 'Mediciones_suelo'

In [15]:
# Paso 6: Migrar los datos del DataFrame a SQLite
df.to_sql(nombre_tabla, conn, if_exists='replace', index=False)
print(f"\nDatos migrados exitosamente a la tabla '{nombre_tabla}' en la base de datos '{db_path}'.")

Datos migrados exitosamente a la tabla 'Mediciones_suelo' en la base de datos 'BD_Mediciones_suelo.sqlite'.

In [16]:
# Paso 7: Verificar los datos insertados
print("\nMostrando los primeros 5 registros desde SQLite:")
consulta = pd.read_sql_query(f"SELECT * FROM {nombre_tabla} LIMIT 5", conn)
display(consulta)

Mostrando los primeros 5 registros desde SQLite:

,id,velocidad_viento_10m,presion_superficie,temp_suelo_7cm,humedad_suelo_7cm,temp_suelo_250cm
0,1,2.3,714.1,11.4,0.439,11.1
1,2,10.5,1009.4,29.3,0.410,26.8
2,3,3.3,893.0,21.2,0.427,22.2
3,4,6.0,715.7,12.9,0.431,11.1
4,5,3.4,1012.1,25.7,0.456,26.8

In [17]:
# Paso 8: Cerrar la conexi√≥n
conn.close()